<div class="fretboard-container">
  <app-fretboard
    [selectedScale]="selectedScale"
    [selectedNote]="selectedNote"
  ></app-fretboard>
</div>

<div class="control">
  <div class="scale-selection">
    Selected Scale: {{ selectedScale }}
    <button class="btn scale-selection-btn" (click)="selectMode('Ionian')">Select Ionian/Major Scale</button>
    <button class="btn scale-selection-btn" (click)="selectMode('Dorian')">Select Dorian Scale</button>
    <button class="btn scale-selection-btn" (click)="selectMode('Phrygian')">Select Phrygian Scale</button>
    <button class="btn scale-selection-btn" (click)="selectMode('Lydian')">Select Lydian Scale</button>
    <button class="btn scale-selection-btn" (click)="selectMode('Mixolydian')">Select Mixolydian Scale</button>
    <button class="btn scale-selection-btn" (click)="selectMode('Aeolian')">Select Aeolian/Minor Scale</button>
    <button class="btn scale-selection-btn" (click)="selectMode('Locrian')">Select Locrian Scale</button>
  </div>
  <div class="note-selection">
    Selected Note: {{ selectedNote }}
    <button *ngFor="let note of notes" class="btn" (click)="selectNote(note)">
      {{ note }}
    </button>
  </div>
</div>